//
//  SecretsDebug.xcconfig
//  HSMaster
//
//  Created by Davide Ruisi on 22/10/21.
//

CONTENTFUL_SPACE_ID = dxwvpotrbdji
CONTENTFUL_ACCESS_TOKEN = DPS4LthiyT56x_hgWERky0YWnpPFOZ9j6E3huXgyI84

BATTLE_NET_CLIENT_ID = 5b7f7fd7f16b4ae19bda2f5b803469a1
BATTLE_NET_CLIENT_SECRET = ZY1eqzPY7Wr2styhuM3CrlztWz7CXpsK
